<html>

<head>
    <title>Upload Patient Information</title>
</head>

<body>
    <div class="content-section">
        <form method="POST" action="/success" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Upload Today</legend>
                <div class="form-group">
                    {{ form.username.label(class="form-control-label") }}
                    {{ form.username(class="form-control form-control-lg") }}
                </div>
                <div class="form-group">
                    {{ form.email.label(class="form-control-label") }}
                    {{ form.email(class="form-control form-control-lg") }}
                </div>
                <div class="form-group">
                    {{ form.date_of_birth.label(class="form-control-label") }}
                    {{ form.date_of_birth(class="form-control form-control-lg") }}
                </div>
                <div class="form-group">
                    {{ form.registration_date.label(class="form-control-label") }}
                    {{ form.registration_date(class="form-control form-control-lg") }}
                </div>
                <div class="form-group">
                    {{ form.gender.label(class="form-control-label") }}
                    {{ form.gender(class="form-control form-control-lg") }}
                </div>
                <div class="form-group">
                    {{ form.pps.label(class="form-control-label") }}
                    {{ form.pps(class="form-control form-control-lg") }}
                </div>
                <div class="form-group">
                    {{ form.gaurdian.label(class="form-control-label") }}
                    {{ form.gaurdian(class="form-control form-control-lg") }}
                </div>
                <div>
                    <input type="file" name="file" />
                </div>

            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
</body>

</html>